 body {
            font-size: 15px;
        }

        .logo-container {
            display: flex;
            align-items: center;
            padding: 10px 50px;

        }

        .logo-container img {
            max-width: 150px;
            height: auto;
            margin-right: 50px;
            margin-top: -10px;
        }

        .container {
            max-width: 1450px;
        }

        .card {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 18px;
        }


        .table-container {
            max-height: 220px;
            overflow-y: auto;
        }

        .dataset-contaner {
            max-width: 410px;
            max-height: 250px;
            bottom: 15px;
        }

        .upload-container {
            bottom: 10px;
        }

        .graph-container {
            bottom: 15px;
        }

        .summary-container {
            height: 200px;
            bottom: 10px;
        }

        .activity-log {
            bottom: 15px;
        }

        #activityLog {
            max-height: 400px;
            overflow-y: auto;
            padding: 10px;
            border: 1px solid #ddd;


        }

        #sampleCSV {
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;
            color: #007bff;
            margin-top: -10px;
        }

        #sampleCSV:hover {
            color: #0056b3;
        }

        .small-btn {
            width: 100%;
            padding: 2px 10px; 
        }
        #dataCleanBtn, #splitDataBtn, #predictBtn {
            display: none;
        }
        #csvUploadMessage {
            width: 80%; 
            padding: 2px 12px; 
            font-size: 14px; 
            color:green;
            /* margin: 0 auto;  */
        }


